.create-page {
  width: 60%;
  padding-top: 30px;
  margin: 0 auto;
}

.layout-elements {
  margin-top: 20px;
}

.button-blue {
  margin: 20px 0;
}

input, textarea {
  border: 1px solid #eeeff0;
  padding: 5px 10px;
  border-radius: 5px;
  min-height: 30px;
  background: #fff;
}

.form {
  margin-left: 10px;
}

.form-description {
  resize: none;
  width: 95%;
}

.form-title {
  display: block;
  width: 95%;
  padding-right: 5px;
}

select {
  background: #fff;
}

label {
  display: none;
}

@media screen and (max-width: 1000px) {
  .create-page {
    width: 90%;
  }
}
