input, textarea {
  border: 2px solid #eeeff0;
  padding: 5px 10px;
  border-radius: 5px;
  min-height: 30px;
  background: #fff;
}

.form {
  padding-right: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.form-description {
  resize: none;
  width: 100%;
}

.form-title {
  width: 100%;
}

select {
  background: #fff;
}

