<div class="create-page">
  <app-back-button></app-back-button>
  <div class="background-elements layout-elements">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div
        [ngClass]="{ invalid: form.get('title')?.touched &&
        form.get('title')?.invalid }"
      >
        <h5>Название задачи</h5>
        <label for="title">Название задачи</label>
        <input id="title" type="text" class="form-title" formControlName="title">
        <div
          *ngIf="form.get('title')?.touched &&
          form.get('title')?.invalid"
        >
          <small>Заголовок не может быть пустым</small>
        </div>
      </div>
      <div>
        <h5>Приоритет</h5>
        <label for="priority">Приоритет</label>
        <select id="priority" formControlName="priority">
          <option value="low">Low</option>
          <option value="normal">Normal</option>
          <option value="high">High</option>
        </select>
      </div>
      <div>
        <h5>Отметки</h5>
        <label for="labels">Отметки</label>
        <select id="labels" formControlName="labels" multiple>
          <option value="research">Research</option>
          <option value="design">Design</option>
          <option value="development">Development</option>
        </select>
      </div>
      <div
        [ngClass]="{ invalid: form.get('description')?.touched &&
        form.get('description')?.invalid }"
      >
        <h5>Описание</h5>
        <label for="description">Описание</label>
        <textarea id="description" rows="10" class="form-description" formControlName="description"></textarea>
        <div
          *ngIf="form.get('description')?.touched &&
         form.get('description')?.invalid">
          <small>Описание не может быть пустым</small>
        </div>
      </div>
      <button type="submit" class="button-blue" [disabled]="form.invalid">Сохранить</button>
    </form>
  </div>
</div>
