.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
}

//НАДО НАД ЭТИМ ПОДУМАТЬ ЕЩЁ
//@media screen and (max-width: 600px) {
//  header {
//    position: absolute;
//    opacity: 0;
//  }
//}
