<div class="main-layout">
  <!--  <header class="grid-header">-->
  <!--    <nav class="main-navigation">-->
  <!--      <a routerLink="/">Менеджер задач</a>-->
  <!--      <ul>-->
  <!--        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
  <!--          <a routerLink="">Главная</a>-->
  <!--        </li>-->
  <!--        <li routerLinkActive="active">-->
  <!--          <a routerLink="/create">Создать</a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </header>-->
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
