@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$background: #f8fafe;
$white: #fff;
$grey: #eeeff0;
$dark-grey: #cecece;
$text: #454545;
$blue: #0590dd;
$light-blue: #5ca3db;
$red: #f34948;
$light-red: #e97678;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: $background;
  color: $text;
}

button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  padding: 15px;
  font-size: 16px;
}

h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #777;
}

//стандартное отображение элементов формы
textarea:focus, input:focus {
  outline: none;
}

//кнопки
.button-blue {
  background-color: $blue;
  color: $white;

  &:disabled {
    background-color: $light-blue;
    cursor: not-allowed;
  }
}

.button-white {
  background-color: $white;
  border: 1px solid $grey;
  color: $text;
}

.button-red {
  background-color: $red;
  color: $white;
}

// оформление фона и обводки для элементов
.background-elements {
  background: $white;
  border: 1px solid $grey;
}

// отступы элементов
.layout-elements {
  padding: 0 15px 10px;
  margin-bottom: 20px;
}

//убрать тень с ios
input:not([type=checkbox]):not([type=radio]),
textarea {
  appearance: none;
}

select {
  appearance: none;
}

//оформление чекбоксов
.filter-input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &+label {
    display: flex;
    align-items: center;
    margin: 10px 0 15px;

    &:before {
      position: relative;
      display: inline-block;
      border: 1px solid #ccc;
      content: '';
      width: 10px;
      height: 10px;
      padding: 4px;
      margin-right: 10px;
    }
  }

  &:checked {
    &+label:before {
      position: relative;
      display: inline-block;
      content: '';
      background: url(assets/images/1.png) no-repeat center $white;
      background-size: 12px auto;
      width: 10px;
      height: 10px;
      border: 1px solid $blue;
      padding: 4px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

//оформление radio
.sort-input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &+label {
    display: flex;
    align-items: center;
    margin: 10px 0 15px;

    &:before {
      position: relative;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 50%;
      content: '';
      width: 10px;
      height: 10px;
      padding: 4px;
      margin-right: 10px;
    }
  }

  &:checked {
    &+label:before {
      position: relative;
      display: inline-block;
      content: '';
      background: url(assets/images/2.png) no-repeat center $white;
      background-size: 8px auto;
      width: 10px;
      height: 10px;
      border: 1px solid $blue;
      padding: 4px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

//оформление форм создания и редактирования задач

.create-page, .edit-page, .task-page {
  width: 60%;
  padding-top: 20px;
  margin: 0 auto;

  label {
    display: none;
  }
  .layout-elements {
    margin-top: 20px;
  }

  .button-blue {
    margin: 20px 0;
  }

  input, textarea, select {
    border: 1px solid $grey;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 30px;
    background: $white;
    outline: 0;
  }
}

.form {
  margin-left: 10px;
}

.form-description {
  resize: none;
  width: 95%;
  text-align: justify;
}

.form-title {
  display: block;
  width: 95%;
  padding-right: 5px;
}

.form-priority {
  position: relative;

  &:after {
    position: absolute;
    top: 15px;
    left: 38%;
    content: '';
    background-size: 10px auto;
    width: 10px;
    height: 10px;
    background: $white url(/../assets/images/pngwing.png) no-repeat center;
  }
}

.priority {
  width: 40%;
  height: 40px;
  position: relative;
}

.labels {
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .create-page, .edit-page, .task-page {
    width: 90%;
  }
}

@media screen and (min-width:800px) {
  .button-blue:hover {
    background-color: $light-blue;
  }

  .button-white:hover {
    background-color: $dark-grey;
  }

  .button-red:hover {
    background-color: $light-red;
  }
}

@media screen and (max-width: 600px) {
  .priority {
    width: 60%;
  }

  .labels {
    width: 60%;
  }

  .form-priority:after {
    left: 54%;
  }
}
