<div class="grid-main">
  <button routerLink="/create" class="grid-button button-blue">Добавить задачу</button>
  <div class="grid-filter filter-control">
    <app-sorting #sorted></app-sorting>
    <div class="priority-label background-elements layout-elements">
      <app-filter #filterTasks></app-filter>
    </div>
  </div>
  <div class="grid-tasks"
       *ngIf="tasks; else loading"
  >
    <div *ngIf="filterTasks.tasks; else firstInit">
      <app-task
        *ngFor="let task of filterTasks.tasks | filterTasks:filterTasks.priorityList:filterTasks.labelsList | sortTasks:sorted.sortBy"
        [task]="task"
      ></app-task>
    </div>
    <ng-template #firstInit>
      <app-task
        *ngFor="let task of tasks | filterTasks:filterTasks.priorityList:filterTasks.labelsList | sortTasks:sorted.sortBy"
        [task]="task"
      ></app-task>
    </ng-template>
  </div>
  <ng-template #loading>
    <p>Загрузка задач...</p>
  </ng-template>
</div>
